<h1>Listing coaches</h1>

<table>
  <tr>
    <th>Player Name</th>
    <th>Player Type</th>
    <th></th>
  </tr>
<%= link_to(url_for(@coach))%>
<%= link_to(url_for(:action => 'index', :controller => 'coaches', :only_path => false, :protocol => 'https') )%>	
<% @coaches.each do |coach| %>
  <tr>
    
    <td><%= link_to 'Show', coach %></td>
    <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
    <td><%= link_to 'Destroy', coach, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coach', new_coach_path %>
